.useroverview {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #343a40;
    display: inline-block;
    text-align: center;
}

.user {
    margin-top: 5px;
    font-size: 20px;
}

.newuser {
    font-size: 70px;
    text-align: center;
    margin-top: 15%;
}

.setMargin{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}