[Unit]
Description=Gunicorn instance to serve Matekasse
After=network.target

[Service]
User=matekasse
Group=www-data
WorkingDirectory=/home/matekasse/Matekasse
Environment="PATH=/home/matekasse/Matekasse/venv/bin"
ExecStart=/home/matekasse/Matekasse/venv/bin/gunicorn -k gevent --workers 1 app:app

[Install]
WantedBy=multi-user.target

