{% extends "layout.html" %}

{% block content %}
    {% for user in users %}
        <div class="useroverview" onclick="location.href='{{ url_for('user.userpage', user_id=user.id) }}'">
            <div class="setMargin">
                <img class="rounded-circle article-img image" src="{{ url_for('static', filename='item_pics/' + user.imgfile) }}">
                <div>{{ user.username }}</div>
                <div>{{'%0.2f'| format(user.credit / 100|float) }}&euro;</div>
            </div>
        </div>
    {% endfor %}
        <div class="useroverview" style="width: 125px" onclick="location.href='{{ url_for('user.register') }}'">
            <div class="newuser">
                +
            </div>
        </div>
{% endblock %}