{% extends "layout.html" %}

{% block content %}
    {% set sort = 'lastchange' %}
    {% if request.args.get('sort') %}
        {% set sort = request.args.get('sort') %}
    {% endif %}
    {% set desc = False %}
    {% if request.args.get('order') == 'desc' %}
        {% set desc = True %}
    {% endif %}
    {% for user in users|sort(attribute=sort, reverse=desc) %}
        {% if user.credit < 0 %}
        <div class="panel neg-panel" onclick="location.href='{{ url_for('user.userpage', user_id=user.id) }}'">
        {% else %}
        <div class="panel" onclick="location.href='{{ url_for('user.userpage', user_id=user.id) }}'">
        {% endif %}
            <div class="setMargin">
                <img class="rounded-circle article-img image" src="{{ url_for('static', filename='item_pics/' + user.imgfile) }}">
                <div>{{ user.username }}</div>
                <div>{{'%0.2f'| format(user.credit / 100|float) }}&euro;</div>
            </div>
        </div>
    {% endfor %}
        <div class="panel" style="width: 125px" onclick="location.href='{{ url_for('user.register') }}'">
            <div class="newuser">
                +
            </div>
        </div>
{% endblock %}