<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pictures.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glyphicons.css') }}">
        {% if request.path == url_for('user.register') %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
        {% endif %}
        <script src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

        <title>
            Matekasse
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar fixed-static-top navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% if request.path != url_for('main.home') and request.path != url_for('overview.overviews') and request.path != url_for('item.itemoverview')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}">Return</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}"><span class="glyphicon glyphicon-th"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('overview.overviews') }}"><span class="glyphicon glyphicon-stats"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('item.itemoverview') }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="?sort=username&order=asc"><span class="glyphicon glyphicon glyphicon-sort-by-alphabet"></span></a>
                                <a class="dropdown-item" href="?sort=username&order=desc"><span class="glyphicon glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                                <a class="dropdown-item" href="?sort=credit&order=asc"><span class="glyphicon glyphicon glyphicon-sort-by-order"></span></a>
                                <a class="dropdown-item" href="?sort=credit&order=desc"><span class="glyphicon glyphicon glyphicon-sort-by-order-alt"></span></a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {% if request.path == url_for('main.home') %}
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" id="searchbar" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main role="main" class="container-fluid" style="margin-top: 5px;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for cat, message in messages %}
                        <div class="alert alert-{{ cat }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row equal" id="useroverview">
                {% block content %}{% endblock %}
            </div>
        </main>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
