{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 bg-dark">
            <p>{{ user.username }}</p>
            <p>{{'%0.2f'| format(user.credit / 100|float) }}&euro;</p>
        </div>
        <div class="col-md-9">
            <div class="accordion" id="accordionExample">
                <div class="card bg-dark">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Buy
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for i in item %}
                                <div class="useroverview items" onclick="location.href='{{ url_for('user.buyitem', user_id=user.id, item_id=i.id) }}'">
                                    <img class="rounded-circle article-img image" src="{{ url_for('static', filename='item_pics/' + i.imgfile) }}">
                                    <div>{{ i.name }}</div>
                                    <div>{{'%0.2f'| format(i.price / 100|float) }}&euro;</div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Credit
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Add</p>
                            {% for credit in poscredit %}
                                <div class="btn btn-success" onclick="location.href='{{ url_for('user.addcredits', user_id=user.id, sign='+', new_credit=credit.credit) }}'">
                                    <div>{{'%0.2f'| format(credit.credit / 100 |float) }}&euro;</div>
                                </div>
                            {% endfor %}
                            <p>Remove</p>
                            {% for credit in negcredit %}
                                <div class="btn btn-danger" onclick="location.href='{{ url_for('user.addcredits', user_id=user.id, sign='-', new_credit=credit.credit) }}'">
                                    <div>{{'%0.2f'| format(credit.credit / 100 * -1|float) }}&euro;</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Transfer
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <form method="post" action="">
                                {{ transferform.hidden_tag() }}
                                <div>
                                    <p>{{ transferform.beneficary.label() }}: {{ transferform.beneficary() }}</p>
                                </div>
                                <p>{{ transferform.sum.label() }}: {{ transferform.sum() }}</p>
                                <p>{{ transferform.transfer() }}</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                History
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                                <table>
                                    <thead>
                                        <th scope="col">#</th>
                                        <th scope="col">Transaction</th>
                                        <th scope="col">Date</th>
                                    </thead>
                                    <tbody>
                            {% for trans in transaction %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{'%0.2f'| format(trans.credit / 100|float) }}&euro;</td>
                                            <td>{{ trans.date }}</td>
                                        </tr>
                            {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                Options
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            <form method="post" action="">
                                {{ edit.hidden_tag() }}
                                <p>{{ edit.rename.label() }}: {{ edit.rename(value=user.username) }}</p>
                                <p>
                                    {{ edit.edit(class="btn btn-success btn-block") }}
                                    {% if user.credit > 0 %}
                                        {{ edit.delete(class="btn btn-danger btn-block") }}
                                    {% endif %}
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}